@font-face {
  font-family: "iCeilMedium";
  src: local("iCeilMedium"), url(./fonts/iCiel-Medium.ttf) format("truetype");
  font-weight: normal;
}
* {
  margin: 0;
}
body {
  font-family: "iCeilMedium";
}
